
<%= link_to 'Back', jobs_path %>

<body class="bg-light">
    

<div class="row justify-content-center">
<div class="col-md-10 col-lg-6">
<div class="container-sm border-right border-light">


    <div class="col-md-12 order-md-1 pt-5">
    <h4 class="mb-3"></h4>

<article id="content" class="">

           


            <!-- typogrpahy -->
            <section id="section-1">
              <h2 class="section-title"> <%= @job.title %> <a data-scroll="" href="#section-1" class="anchor" data-toggle="tooltip" data-placement="top" title="" data-original-title="Copy URL"></a></h2>

             <h1 class="h2 font-weight-light">Your <b>documentation</b> template can look like this. Check it out.</h1>

              <p> <%= @job.description  %></p>
              
            </section>
            <!-- / typography -->


            <!-- colors -->
            



          </article>



    
    </div>

</div>
</div>
</div>
</div>



