<h1>Editing Manager</h1>



<%= form_for @manager do |f| %>
  

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



